---
import Layout from '../layouts/Base.astro';
import Card from '../components/Card.astro';
---

<Layout title="sara's place">
	<main>
		<p>
			hello friend! my name is <emphasis>sara</emphasis> <quiet>(they/she)</quiet> and this is my little website :)<br /><br />

			i am a sometimes-writer, amateur programmer, and generally just a weird little internet user. in time, this place will
			<quiet>(hopefully!)</quiet> be home to some of my writings, which are mainly bad poems and strange ramblings. for now,
			though, it's really just this page.<br /><br />

			if you wanna get in touch for whatever reason, the best places to find me are on
			<a href="https://bsky.app/profile/gayfro.gs">bluesky</a> and <a href="https://discordapp.com/users/1103121656295198740">discord</a>.
			my handle is <emphasis>@gayfro.gs</emphasis> on both!

		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		color: rgb(var(--accent));
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		padding: 0.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
