---
import Layout from '../layouts/StartPage.astro';
import Card from '../components/Card.astro';
import StartBox from '../components/StartBox.astro';
---

<Layout title="sara's place">
	<main>
		<StartBox />
	</main>
</Layout>